<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="scripts/index.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>

    <link rel="stylesheet" href="styles/root.css">
    <link rel="stylesheet" href="styles/resources.css">
    <link rel="icon" href="res/img/rubix.ico">
</head>

<body>
    <div id="overlay"></div>
    <div id="backtotop-holder"></div>
    <header id="header-holder"></header>
    <nav id="nav-holder"></nav>
    <nav id="mobile-nav-holder"></nav>
    <main class="flex-column">

        <section id="NOTEBOOK" class="flex-column">
            <div class="dropper flex-row">
                <h2>Our Notebooks</h2>
                <img src="../res/img/arrow.svg" onclick="dropSection(event)">
            </div>

            <div class="content flex-column">
                <div class="margin-box flex-column">
                    <h2 class="desc">
                        Here are our engineering notebooks we've used during the FTC seasons. Feel free to check them
                        out.
                    </h2>

                    <div class="notebooks flex-column">

                        <span class="cards-scroller">
                            <div class="flex-column card">
                                <h4>Season 2018-2019</h4>
                                <div class="flex-column image">
                                    <img src="../res/img/rover_ruckus.png" alt="">
                                </div>
                                <div class="text flex-column">
                                    <h4>Our Engineering notebook as of Bucharest National Championship</h4>
                                </div>
                                <div class="control flex-row valid">
                                    <a href="">Open <img src="../res/img/external_link.svg" alt=""></a>
                                    <a href="">Download <img src="../res/img/download.svg" alt=""></a>
                                </div>
                            </div>

                            <div class="flex-column card">
                                <h4>Season 2019-2020</h4>
                                <div class="flex-column image">
                                    <img src="../res/img/skystone.png" alt="">
                                </div>
                                <div class="text flex-column">
                                    <h4>Our Engineering notebook as of Cluj-Napoca Regional Championship</h4>
                                </div>
                                <div class="control flex-row valid">
                                    <a target="_blank" href="../res/notebooks/Notebook S4.pdf">Open <img
                                            src="../res/img/external_link.svg" alt=""></a>
                                    <a href="../res/notebooks/Notebook S4.docx">Download <img
                                            src="../res/img/download.svg" alt=""></a>
                                </div>
                            </div>

                            <div class="flex-column card">
                                <h4>Season 2020-2021</h4>
                                <div class="flex-column image">
                                    <img src="../res/img/ultimate_goal.svg" alt="">
                                </div>
                                <div class="text flex-column">
                                    <h4>Coming next year...</h4>
                                </div>
                                <div class="control flex-row">
                                    <a>Open <img src="../res/img/external_link.svg" alt=""></a>
                                    <a>Download <img src="../res/img/download.svg" alt=""></a>
                                </div>
                            </div>

                        </span>
                    </div>
                </div>

            </div>
        </section>

        <section id="CREO" class="flex-column">
            <div class="dropper flex-row">
                <h2>Creo & 3D Modelling</h2>
                <img src="../res/img/arrow.svg" onclick="dropSection(event)">
            </div>
            <div class="content flex-column">
                <div class="margin-box flex-column">

                    <h2 class="season-title">Season 2018-2019</h2>
                    <div class="season-section flex-row">
                        <div class="robot-card flex-column">
                            <h3 class="desc">The 3D model of our robot we used in the Rover Ruckus FTC season
                                It was created by our team's 3D Printing department using PTC Creo Parametric. 
                            </h3>
                            <a href="../res/Creofiles S3.zip">Download Files</a>
                        </div>
                        <img class="robot" src="../res/img/CREOS3_right.png " alt="">
                    </div>

                    <div class="linebreak"></div>
                    
                    <h2 class="season-title">Season 2019-2020</h2>
                    <div class="season-section flex-row">
                        <div class="robot-card flex-column">
                            <h3 class="desc">The 3D model of our robot we used in the Skystone FTC season
                                It was created by our team's 3D Printing department using PTC Creo Parametric. 
                            </h3>
                            <a href="../res/Creofiles S4.zip">Download Files</a>
                        </div>
                        <img class="robot" src="../res/img/CreoS4.png " alt="">
                    </div>

                    <h3 class='info'>Embeded 3D Viewer of the models coming soon</h3>
                </div>

            </div>
        </section>



        <section id="ASSETS" class="flex-column">
            <div class="dropper flex-row">
                <h2>Branding assets</h2>
                <img src="../res/img/arrow.svg" onclick="dropSection(event)">
            </div>
            <div class="content flex-column">
               <div class=" margin-box flex-row">
                   <div class="desc-box flex-column">
                        <h3 class="desc">Here is a pack of our logos and other branding assets free for personal and commercial use.</h3>
                        <a href="../res/Assets.zip">Download assets</a>
                   </div>
                   <div class="assets-box flex-column">
                        <img src="../res/img/rubix.svg" alt="">
                        <h2>RUBIX TEAM</h2>
                        
                    </div>
               </div>
            </div>
        </section>

        <section id="CODE" class="flex-column">
            <div class="dropper flex-row">
                <h2>Our Code</h2>
                <img src="../res/img/arrow.svg" onclick="dropSection(event)">
            </div>
            <div class="content flex-column">
                dsadas
            </div>
        </section>

    </main>
    <footer id="footer-holder"></footer>
</body>
<script src="scripts/resources.js"></script>

</html>